@tailwind base;
@tailwind components;
@tailwind utilities;

#navitems a::before {
content: "";
position: absolute;
width: 100%;
height: 2px;
bottom: 0;
left: 0;
background-color: #57CA85;
visibility: hidden;
transform: scaleX(0);
transition: all 0.3s ease-in-out 0s;
}

#navitems a:hover::before {
visibility: visible;
transform: scaleX(1);
}

html {
scroll-behavior: smooth;
}

.h-landing {
height: 54rem;
}

.container .topic{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 20px;
  }
  .content{
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
  }
  .content .list{
    display: flex;
    flex-direction: column;
    width: 20%;
    margin-right: 50px;
    position: relative;
  }
  .content .list label{
    height: 60px;
    font-size: 22px;
    font-weight: 500;
    line-height: 60px;
    cursor: pointer;
    padding-left: 25px;
    transition: all 0.5s ease;
    color: rgb(252, 252, 252);
    z-index: 12;
  }
  #home:checked ~ .list label.home,
  #blog:checked ~ .list label.blog,
  #help:checked ~ .list label.help,
  #code:checked ~ .list label.code,
  #about:checked ~ .list label.about{
    color: #fff;
  }
  .content .list label:hover{
    color: #57CA85;
  }
  .content .slider{
    position: absolute;
    left: 0;
    top: 0;
    height: 60px;
    width: 100%;
    border-radius: 12px;
    background: #57CA85;
    transition: all 0.4s ease;
  }
  #home:checked ~ .list .slider{
    top: 0;
  }
  #blog:checked ~ .list .slider{
    top: 60px;
  }
  #help:checked ~ .list .slider{
    top: 120px;
  }
  #code:checked ~ .list .slider{
    top: 180px;
  }
  #about:checked ~ .list .slider{
    top: 240px;
  }
  .content .text-content{
    width: 80%;
    transition: all 0.4s ease;
  
  }
  .content .text{
    display: none;
  }
  .content .text .title{
    font-size: 25px;
    margin-bottom: 10px;
    font-weight: 500;
  }
  .content .text p{
    text-align: justify;
  }
  .content .text-content .home{
    display: block;
  }
  #home:checked ~ .text-content .home,
  #blog:checked ~ .text-content .blog,
  #help:checked ~ .text-content .help,
  #code:checked ~ .text-content .code,
  #about:checked ~ .text-content .about{
    display: block;
  }
  #blog:checked ~ .text-content .home,
  #help:checked ~ .text-content .home,
  #code:checked ~ .text-content .home,
  #about:checked ~ .text-content .home{
    display: none;
  }
  .content input{
    display: none;
  }

  .h-timeline{
    height: 54rem;
  }
  
  .top-timeline{
    top:37rem;
  }

  @layer components{

    .tabletime{
      @apply text-xl h-5;
    }

    .tablekosong{
      @apply bg-timelinebot-0 opacity-30
    }

  }